<div class="container-fluid" id="background">
  
  <div class="row p-2">
    <div class="col-12 m-2 text-center text-light">
  <h1>Can I haz cheezeburger</h1>
  </div>
  </div>

  <div class="row">

    <div class="col-5">
      <h2 class="text-light">I haz not eaten cheezeburger</h2>
        <ul class="list-group">
          {{#each burgers}}
            {{#unless this.devoured}}
              {{> burgers/burger-block devoured=true}}
            {{/unless}}
          {{/each}}
        </ul>
    </div>
  <div class="col-2">
    <div id="laser_container">
  <div class="laser-beam"></div>
  <div class="laser-beam red"></div>
  <div class="laser-beam purple"></div>
  <div class="laser-beam green"></div>
  <div class="laser-beam yellow"></div>
</div>
  </div>
    <div class="col-5">
      <h2 class="text-light">I haz eaten cheezeburger</h2>
        <ul class="list-group">
          {{#each burgers}}
            {{#if this.devoured}}
              {{> burgers/burger-block devoured=false}}
            {{/if}}
          {{/each}}
        </ul>
    </div>

</div>
    <br>
    <div class="row m-2">
    <div class="col-4"><img src="../public/assets/img/cheezeburgercat.jpeg" alt="cheezeburgcat"></div>
    <div class="card m-1 p-2 col-4">
      <h2 class="text-light">Add a Burger</h2>
        <form class="create-form">
          <div class="form-group">
            <label for="ca">Burger Name:</label>
            <input type="text" id="ca" burger_name="burger_name">
          </div>
          <button type="submit">Add Burger</button>
        </form>
    </div>
    <div class="col-3"><img src="../public/assets/img/lasercat.jpeg" alt="lasercat"></div>
    </div>
  </div>

