
#pic1 {
    width: 200px;
    height: 200px;
}
#background {
  background-image: url(https://wallpaperplay.com/walls/full/4/7/c/11389.jpg);
  background-position: bottom;
}


.container-fluid {
  font-family: 'Lacquer';
}

li {
  font-family: "Poppins"

}

h2 {
  background-color: rgba(40, 102, 102, 0.2);
  border: black 0px solid;
}

.list-group-item, .card {
    background-color: rgba(40, 102, 102, 0.2);
    border-top: 1px solid #ddd;
    border-radius: 0;
    color: yellow;
    font-weight: bolder; 
}

h1 {
  background-color: rgba(40, 102, 102, 0.2);
  
}

body {
  overflow: auto;
}

html {
  background: #111;
}
#laser_container {width:100%;height:100%;overflow:hidden;}
.laser-beam {
  position: absolute;
  left: 50%;
bottom: -50px;
  width: 10px;
  height: 500%;
  background: rgba(99, 195, 231, 0.6);
  -webkit-box-shadow: 0px 0px 15px 0px #63c3e7;
  -moz-box-shadow: 0px 0px 15px 0px #63c3e7;
  box-shadow: 0px 0px 15px 0px #63c3e7;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-animation: laser 7s infinite;
}
.laser-beam.red {
  -webkit-animation: laser 7.5s infinite;
  background: rgba(236, 19, 65, 0.6);
  -webkit-box-shadow: 0px 0px 15px 0px #ec1341;
  -moz-box-shadow: 0px 0px 15px 0px #ec1341;
  box-shadow: 0px 0px 15px 0px #ec1341;
}
.laser-beam.purple {
  -webkit-animation: laser 7.3s infinite;
  background: rgba(204, 102, 255, 0.6);
  -webkit-box-shadow: 0px 0px 15px 0px #cc66ff;
  -moz-box-shadow: 0px 0px 15px 0px #cc66ff;
  box-shadow: 0px 0px 15px 0px #cc66ff;
}
.laser-beam.green {
  -webkit-animation: laser 7.7s infinite;
  background: rgba(86, 212, 69, 0.6);
  -webkit-box-shadow: 0px 0px 15px 0px #56d445;
  -moz-box-shadow: 0px 0px 15px 0px #56d445;
  box-shadow: 0px 0px 15px 0px #56d445;
}

.laser-beam.yellow {
  -webkit-animation: laser 7.7s infinite;
  background: rgba(222, 230, 118, 0.6);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(222, 230, 118, 0.6);
  -moz-box-shadow: 0px 0px 15px 0px rgba(222, 230, 118, 0.6);
  box-shadow: 0px 0px 15px 0px rgba(222, 230, 118, 0.6);
}

@-webkit-keyframes laser {
  0% {
    -moz-transform: rotate(-75deg);
    -ms-transform: rotate(-75deg);
    -webkit-transform: rotate(-75deg);
    transform: rotate(-75deg);
  }
  50% {
    -moz-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -webkit-transform: rotate(75deg);
    transform: rotate(75deg);
  }
  100% {
    -moz-transform: rotate(-75deg);
    -ms-transform: rotate(-75deg);
    -webkit-transform: rotate(-75deg);
    transform: rotate(-75deg);
  }
}
