<li class="list-group-item">
	{{burger_name}}

	<button class=" btn btn-light change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DevouR my foOod!!{{else}}Throw up meowt!!{{/if}}
	</button>
</li>
